@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome.</h1>
</div>

<div class="text-center">
    <h1 class="display-32">Melis</h1>
    <p>Learn about me at this page</p>
</div>

<div class="text-left">
    <h1 class="display-12">These are the links to my accounts:</h1>
    <p>-Click <a href="https://www.linkedin.com/in/melis-atun-3995241a1/">here</a> to go to my linkedin profile.</p>
    <p>-Click <a href="https://github.com/melisatuun">here</a> to go to my github profile.</p>
    <p>-Click <a href="https://twitter.com/melisatuun">here</a> to go to my twitter profile.</p>
    <p>-Click <a href="https://instagram.com/melisatuun">here</a> to go to my instagram profile.</p>
</div>

<form method="post" action="/Home/ShowFields" enctype="multipart/form-data">
    <input type="file" name="pic" /><br/>
    <input type="text" name="fullName" /><br/>
    <input type="submit" value="Go" />
</form>
