@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome People!</h1>
    @*<p>Learn about <a href="https://www.linkedin.com/in/melis-atun-3995241a1/">building Web apps with ASP.NET Core</a>.</p>*@
</div>

<div class="text-center">
    <h1 class="display-8">Melo</h1>
    <p>Learn about me at this page!</p>
</div>

<div class="text-left">
    <h1 class="display-12">These are the links to my accounts:</h1>
    <p>-Click here <a href="https://www.linkedin.com/in/melis-atun-3995241a1/">to go to my linkedin profile</a>.</p>
    <p>-Click here <a href="https://github.com/melisatuun">to go to my github profile</a>.</p>
    <p>-Click here <a href="https://twitter.com/melisatuun">to go to my twitter profile</a>.</p>
    <p>-Click here <a href="https://instagram.com/melisatuun">to go to my instagram profile</a>.</p>
</div>

<form method="post" action="/Home/ShowFields" enctype="multipart/form-data">
    <input type="file" name="pic" /><br/>
    <input type="text" name="fullName" /><br/>
    <input type="submit" value="Go" />
</form>
